@media (max-width: 576px) {
    .main-slider {
        height: 180px;
    }

    .carousel-caption {
        top: 0;
    }

    .carousel-caption h5 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 15px;
    }

    .carousel-caption button {
        padding: 5px 15px;
        font-weight: 500;
    }

    #about {
        padding: 40px 0px;
    }

    .main-about h2 {
        font-size: 35px;
    }

    #apporch {
        padding: 50px 0px;
    }

    .step {
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translate(50%, -50%);

    }

    .apporch-content {
        margin: 0;
        padding: 70px 60px 0px 60px;
        margin-bottom: 70px;
    }

    #contact {
        padding: 50px 0px;
    }

    .card-body {
        width: 300px;
    }

    input.form-control {
        width: 250px;
        margin-bottom: 10px;
    }

    .offsetss {
        margin-left: 10.333333%;
    }





}


@media (min-width: 576px) and (max-width: 767px) {

    .carousel-caption {
        top: 5%
    }

    .main-slider {
        height: 300px;
    }

    #about {
        padding: 80px 0px;
    }

    .content p {
        padding: 10px 65px;
    }

    .step {
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .apporch-content p {
        margin-bottom: 80px;
    }

    .offsetss {
        margin-left: 6.333333%;
    }



















}

@media (min-width: 768px) and (max-width: 991px) {

    .main-slider {
        height: 380px;
    }

    #about {
        padding: 80px 0px;
    }

    .step {
        position: absolute;
        top: 50%;
        right: -35px;
        padding: 10px 20px;
        transform: translateY(-50%);
    }

    .step h2 {
        font-size: 20px;
    }

    .apporch-content {
        margin: 0;
        padding: 20px 90px 0px 90px;
    }

    .overly-content {
        padding-top: 35px;
    }

    .offsetss {
        margin-left: 15.333333%;
    }







}


@media (min-width: 992px) and (max-width: 1199px) {}
