* {
    margin: 0;
    padding: 0;
    outline: 0;
    /*    background: grey;*/
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}



/*Header Part Start*/
#header {
    max-height: 100vh;
}

.head-social {
    background: #f0f2f4;
    padding: 10px 0px;
}

.head-social-link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-social-link ul li {
    display: inline-block
}

.head-social-link ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    padding: 0px 0px 0px 15px;
}

.main-menu {
    padding: 30px 0px;
}

.menu-iteam li {
    padding: 8px 0px 0px 0px;
}

.menu-iteam li a {
    padding: 8px 0px 0px 35px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #424242;
}

.menu-iteam li a:hover {
    color: red;
}

.menu-iteam .active {
    color: red;
}

.head-btn {
    padding: 10px 20px;
    background: #de2b24;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    color: #ffffff;
}

.main-slider {
    width: 100%;
    height: 580px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption h5 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 28px;
    color: #fff;
    font-weight: 200;
}

.carousel-caption button {
    padding: 10px 25px;
    background: #f8cd53;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
}

/*Header Part End*/



/*About Part Start*/
#about {
    padding: 140px 0px;
}

.main-about h2 {
    font-size: 46px;
    font-weight: 700;
}

.main-about h5 {
    text-transform: capitalize;
    font-weight: 200;
    color: black;
    padding-bottom: 45px
}

.main-about h5:before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 17%;
    width: 70px;
    height: 5px;
    background: #424242;
    transform: translateX(-50%);

}

.about-iteam {
    padding: 30px 20px;

}

.about-iteam:hover {
    box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

.content {
    padding-top: 30px;
}

.content h2 {
    font-size: 22px;
    font-weight: 700;
}

.content p {
    font-size: 15px;
    font-weight: 400;
}

/*About Part End*/


/*Apporch Part Start*/
#apporch {
    background: #f3f3f3;
    padding: 100px 0px;
}

.apporch-head p {
    padding-bottom: 45px;
}

.apporch-head p::before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 17%;
    width: 70px;
    height: 5px;
    background: #424242;
    transform: translateX(-50%);
}

.apporch-frist {
    background: #ffffff;
    margin-bottom: 40px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.30);
}

.apporch-second {
    background: #ffffff;
    margin-bottom: 40px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.30);
}

.apporch-iteam {
    position: relative;
    padding: 0;
    margin: 0;
}

.apporch-img img {
    width: 100%;
}

.step {
    position: absolute;
    top: 50%;
    right: -50px;
    background: #de2b24;
    padding: 15px 30px;
    border: 2px solid #fff;
    ;
    border-radius: 10px;
    transform: translateY(-50%);
    z-index: 1
}

.step h2 {
    color: #fff;
    font-size: 30px
}

.step span {
    color: #fff;
    font-size: 20px
}

.apporch-content {
    margin: 0;
    padding: 70px 90px 0px 90px;
}

.apporch-content h2 {
    color: #424242;
    font-size: 18px;
}

.apporch-content p {
    color: #424242;
    font-size: 13px;
}




/*Apporch Part End*/


/*WOrk PArt Start*/
#work {
    padding: 80px 0px;
    background: #de2b24;
}

.work-head {}

.work-head h2 {
    color: #ffffff;
}

.work-head p {
    color: #fff;
    padding-bottom: 30px;
}

.work-head p::before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 17%;
    width: 70px;
    height: 5px;
    background: #424242;
    transform: translateX(-50%);
}

.work-main {
    margin: 0;
    padding: 0;
}

.work-iteam {
    position: relative;
    margin: 0;
    padding: 0;
}

.work-iteam-img img {
    width: 100%;
    height: 100%;
}

.work-overley:hover {
    opacity: 1;
}

.work-overley {
    position: absolute;
    top: 0;
    left: 0;
    background: #f35e59;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all linear 0.3s;
}

.overly-content {
    padding-top: 75px;
}

.overly-content h2 {
    color: #fff;
    font-size: 25px;
}

.overly-content h3 {
    color: #fff;
    font-size: 20px;
}

/*WOrk PArt End*/


/*COntact PArt Start*/
#contact {
    background: #1287bf;
    padding: 80px 0px;
}

.contact-btn {
    background: #1287bf;
}

.content {
    position: relative;
    z-index: 1;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 500px;
    text-align: center;

}

.card {
    position: relative;
    top: 25px;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    transform: translateX(-50%);
}




.bubble {
    background-color: #eee;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    /*    display: inline-block;*/
    font: 16px/24px sans-serif;
    padding: 12px 24px;
    position: relative;
}

.bubble:after,
.bubble:before {
    top: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #eee;
    content: '';
    left: 50%;
    margin-left: -21px;
    position: absolute;
}

.bubble:before {
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 23px solid;
    border-top-color: inherit;
    margin-left: -23px;
    top: -23px;
}

input.form-control {
    width: 450px;
    margin-bottom: 5px;
}

.form-content {
    margin-top: 40px;
}

.work-btn {
    background: #de2b24;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 30px;
}

/*COntact PArt End*/


/*Footer part start*/
.main-foot {
    background: #2a2a2a;
    padding-bottom: 50px;
}

.foot-head h2 {
    padding-top: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 29px;
}

.foot-social {
    padding-top: 30px;
}

.foot-social ul {
    list-style-type: none;
}

.foot-social ul li {
    display: inline-block;
}

.foot-social ul li a {
    color: #ffffff;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
}

.foot-social ul li a:hover {
    border: 1px solid red;
}

.foot-social ul li .active {
    border: 1px solid red;
}

.foot-subs p {
    padding: 25px 0px;
    color: #cecece;
}


.offsetss {
    margin-left: 28.333333%;
}

.sub-btn {
    background: rgba(42, 42, 42, 0);
    border: 1px solid #cecece;
    padding: 10px 30px;
    color: #fff;
    font-weight: 700;
    margin: 20px 0px;
}

.sub-btn:hover {
    background: #ef5262;
}

.foot-credit {
    background: #515151;
    margin: 0;
}

.foot-credit h3 {
    padding: 15px 0px 10px 50px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

/*Footer part End*/
